@import 'tailwindcss/preflight';
@tailwind utilities;

/* base 스타일 (전역 기본값) */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(250 250 250);
  color: rgb(23 23 23);
}
